.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Rockwell', serif;
  background-color: #FFFFFF;
}

.header {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 50px;
  font-weight: bold;
  background-color: #DDDDDD;
}

.header div:nth-child(2) {
  width: 20%;
}

.headerLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #888888;
}

.header div {
  display: table-cell;
  vertical-align: middle;
}

.cards {
  margin-top: 15px;
}

.rowCards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.appCard {
  border-radius: 10px;
  width: 48%;
  box-shadow: 10px 10px 10px #888888;
}

.cardHeader {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
}

.cardImage {
  width: 10%;
  height: 10%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.cardHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  flex: 1;
  font-size: 30px;
}

.cardLinks {
  width: 35%;
  font-size: 30px;
}

.cardLinks a:nth-child(2) {
  margin-left: 10px;
}

.cardTagline {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.cardDescription {
  margin-left: 10px;
  margin-right: 10px;
}